@import "../../../../_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-size: 16px;
  background-color: #36ceaa;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
}

.todoBlock {
  margin: 100px auto;
  width: 320px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 20px;

  .inputBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
