@import '../../../_variables.scss';

.button {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid $blue;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

  &:active {
    background-color: $blue;
  }

  &:focus {
    outline: 0;
  }

  &.unborder {
    border: none;
  }
}
