@import '../../../../_variables.scss';
.list {
  margin: 10px 0;
}

.listTodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;

  &.completed {
    background-color: $green-500;
    border-color: $green-500;
  }

  .buttons {
    display: flex;
  }

  .deleteBtn {
    background-color: $red-600;
    font-size: 20px;
    border-radius: 5px;
    padding: 0.5px 6px;
  }
}
